<h1>Contact Us</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

  <h5 *ngIf="success">Your form is valid!</h5>

  <label>
    First Name:
    <input type="text" formControlName="firstName" placeholder="First Name">
    <div *ngIf="submitted && messageForm.controls.firstName.errors" class="error">
      <div *ngIf="messageForm.controls.firstName.errors.required">Your name is required</div>
    </div>
  </label>
  <label>
    Last Name:
    <input type="text" formControlName="lastName" placeholder="Last Name">
    <div *ngIf="submitted && messageForm.controls.lastName.errors" class="error">
      <div *ngIf="messageForm.controls.lastName.errors.required">Your name is required</div>
    </div>
  </label>
  <label>
    Message:
    <textarea formControlName="message" placeholder="type your information"></textarea>
    <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
      <div *ngIf="messageForm.controls.message.errors.required">A message is required</div>
    </div>
  </label>
  <label>
    Email:
  <input type="text" formControlName="email" placeholder="example@mail.com">
  <div *ngIf="submitted && f.email.errors" class="error">
    <div *ngIf="f.email.errors.required">Email is required</div>
    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
  </div>
</label>
  <label>Password:
  <input type="password" formControlName="password" placeholder="Password">
  <div *ngIf="submitted && f.password.errors" class="error">
    <div *ngIf="f.password.errors.required">Password is required</div>
    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
  </div>
</label>
  <label>Confirm Password:
  <input type="password" formControlName="confirmPassword" placeholder="Same Password again">
  <div *ngIf="submitted && f.confirmPassword.errors" class="error">
    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
  </div>
</label>



  <input type="submit" value="Send message" class="cta">

</form>

<div *ngIf="submitted" class="results">
  <strong>First Name:</strong>
  <span>{{ messageForm.controls.firstName.value }}</span>
  <strong>Last Name:</strong>
  <span>{{ messageForm.controls.lastName.value }}</span>
  <strong>Message:</strong>
  <span>{{ messageForm.controls.message.value }}</span>
  <strong>E-mail:</strong>
  <span>{{ messageForm.controls.email.value }}</span>
  <strong>Password:</strong>
  <span>{{ messageForm.controls.password.value }}</span>
</div>